/* DynamicBlogDetails.module.css */

.blogHeading {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2c3e50;
    line-height: 1.3;
    margin-bottom: 0; /* Set to zero to avoid extra space */
    text-transform: capitalize;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
  }
  
  .subheadingTitle {
    font-size: 1.5rem;
    color: #34495e;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .faqSection {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
  }
  
  .faqTitle {
    font-size: 1.8rem;
    font-weight: bold;
    color: #2c3e50;
  }
  
  .faqItem {
    margin-top: 15px;
  }
  
  .faqQuestion {
    font-weight: bold;
    color: #34495e;
  }
  
  .faqAnswer {
    margin-left: 15px;
    color: #555;
  }
/* DynamicBlogDetails.module.css */
.link {
  color: #3498db; /* Customize your link color */
  text-decoration: underline;
}

.link:hover {
  color: #1abc9c; /* Hover color */
}